/*html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
*/
.light {
  color: #fff;
  font-size: 24px;
}

.transparent-background {
  background: transparent;
}

.text-color {
  color: white;
}

.bg-color {
  background-color: white;
}

/*.bg {
  background: linear-gradient(138.51deg, #06549E 0%, #383D8B 30.37%, #4F3889 41.43%, #7B2D84 63.1%, #DA28B6 100%);
}*/
body {
  background: linear-gradient(138.51deg, #06549E 0%, #383D8B 30.37%, #4F3889 41.43%, #7B2D84 63.1%, #DA28B6 100%);
}
